.App {
  color: #cecece;
  margin: auto;
  padding: 10px 50px;
}

h1 {
  color: #e24b1d;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 20px 10px;
  text-align: center;
}

.app-description {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.main-section {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: start;
}

@media (max-width: 767px) {
  .App {
    padding: 12px 6px;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
  }
}